@import "tailwindcss";

/* Forzamos que el HTML y el BODY siempre ocupen toda la pantalla */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617; /* Slate-950 manual para descartar fallos de Tailwind */
  color: white;
}